---
name: Hello World

on:
    push:
        branches:
        - main
    workflow_dispatch:

jobs:
    say-hello-inline-bash:
        runs-on: ubuntu-latest
        steps:
            - name: Say Hello
              run: echo "Hello, World!"